extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row
      // Cột ảnh sản phẩm
      .col-md-6
        .product-images
          img(src=product.thumbnail, alt=product.title, class="img-fluid mb-3")
    
      // Cột thông tin sản phẩm
      .col-md-6
        .product-info
          h1 #{product.title}
          .product-price
            span.new-price #{(product.price - product.price * product.discountPercentage / 100).toFixed(2)}$ 
            if product.discountPercentage > 0
              span.old-price #{product.price}$ (-#{product.discountPercentage}%)
          
          .product-meta
          
            p Còn lại trong kho: #{product.stock}
          
          // Hiển thị số lượng sản phẩm còn trong kho
          .quantity
            h5 Số lượng
            .input-group
            
              input.form-control.quantity-input(type="number" value="1" min="1" id="quantity-input")
            
          
          .product-actions.mt-3
            a.btn.btn-warning.btn-lg(href="#") Thêm vào giỏ hàng
            a.btn.btn-dark.btn-lg(href="#") Mua ngay
        
        p in here

  // Tab thông tin sản phẩm
  .container.mt-5
    .product-tabs
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active(href="#description", data-toggle="tab") Mô tả sản phẩm
        li.nav-item
          a.nav-link(href="#returnPolicy", data-toggle="tab") Quy định đổi trả
        li.nav-item
          a.nav-link(href="#membership", data-toggle="tab") Membership
      
      .tab-content.mt-3
        .tab-pane.active#description
          p !{product.description}
        .tab-pane#returnPolicy
          p Quy định đổi trả chi tiết...
        .tab-pane#membership
          p Thông tin membership...
