extends ../../layouts/productDefault.pug
include ../../mixins/box-head.pug
include ../../mixins/product-newversion.pug
block main
  //  Shop Start 
  .container-fluid
    .row.px-xl-5
      //  Shop Sidebar Start 
      .col-lg-3.col-md-4
        //  Price Start 
        h5.section-title.position-relative.text-uppercase.mb-3
          span.bg-secondary.pr-3 Filter by price
        .bg-light.p-4.mb-30
         .form-group( form-price)
            // Price Filter Start
            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between.mb-3
              input.custom-control-input#price-all(type="radio" name="price" value="all")
              label.custom-control-label(for="price-all") All Price
              span.badge.border.font-weight-normal 1000
            
            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between.mb-3
              input.custom-control-input#price-1(type="radio" name="price" value="0-100000")
              label.custom-control-label(for="price-1") 0 đ - 100.000 đ
              span.badge.border.font-weight-normal 150

            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between.mb-3
              input.custom-control-input#price-2(type="radio" name="price" value="100000-200000")
              label.custom-control-label(for="price-2") 100.000 đ - 200.000 đ
              span.badge.border.font-weight-normal 295

            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between.mb-3
              input.custom-control-input#price-3(type="radio" name="price" value="200000-300000")
              label.custom-control-label(for="price-3") 200.000 đ - 300.000 đ
              span.badge.border.font-weight-normal 246

            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between.mb-3
              input.custom-control-input#price-4(type="radio" name="price" value="300000-400000")
              label.custom-control-label(for="price-4") 300.000 đ - 400.000 đ
              span.badge.border.font-weight-normal 145

            .custom-control.custom-radio.d-flex.align-items-center.justify-content-between
              input.custom-control-input#price-5(type="radio" name="price" value="400000-500000")
              label.custom-control-label(for="price-5") 400.000 đ - 500.000 đ
              span.badge.border.font-weight-normal 168
            // Price Filter End

     
        
       
      //  Shop Sidebar End 
      //  Shop Product Start 
      if(products.length>0)
        .col-lg-9.col-md-8
          .row.pb-3
            +box-head(pageTitle)
            .col-12.pb-1
              .d-flex.align-items-center.justify-content-between.mb-4
                div
                  button.btn.btn-sm.btn-light
                    i.fa.fa-th-large
                  button.btn.btn-sm.btn-light.ml-2
                    i.fa.fa-bars
                .ml-2
                  .btn-group
                    select.form-control.form-control-sm#sorting(name="sorting" select-filter) 
                      option(value="price-asc") Giá tăng dần
                      option(value="price-desc") Giá giảm dần
                      option(value="title-asc") Sản phẩm A->Z
                      option(value="title-desc") Sản phẩm Z->A

                  .btn-group.ml-2
                    select.form-control.form-control-sm#showing(name="showing" select-limit)
                      option(value="3") 3
                      option(value="6") 6
                      option(value="9") 9

           
            +productNewVersion(products)
              //- .col-lg-4.col-md-6.col-sm-6.pb-1
                .product-item.bg-light.mb-4
                .product-img.position-relative.overflow-hidden
                  img.img-fluid.w-100(src=product.thumbnail, alt)
                  .product-action
                    a.btn.btn-outline-dark.btn-square(href)
                      i.fa.fa-shopping-cart
                    a.btn.btn-outline-dark.btn-square(href)
                      i.far.fa-heart

                .text-center.py-4
                  a.h6.text-decoration-none.text-truncate(href) #{product.title}
                  .d-flex.align-items-center.justify-content-center.mt-2
                    h5 $#{product.priceNew}
                    h6.text-muted.ml-2
                      del $#{product.price}
                  .d-flex.align-items-center.justify-content-center.mb-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small.fa.fa-star.text-primary.mr-1
                    small (99)
            .col-12
              nav
                ul.pagination.justify-content-center
                    if(currentPage>1)
                     li.page-item
                      a.page-link(href=`/products?page=${currentPage-1}`) Quay lại
                    -for(var i =1; i<=totalPage ;i++)
                      if(currentPage === i)
                        li.page-item.active
                          a.page-link(href=`/products?page=${i}`) #{i}
                      else 
                        li.page-item
                            a.page-link(href=`/products?page=${i}`) #{i}     
                    if(currentPage<totalPage)
                     li.page-item
                      a.page-link(href=`/products?page=${currentPage+1}`) Tiếp theo
      else 
        i Không tìm thấy sản phẩm nào !
      //  Shop Product End 
  //  Shop End 