header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href=`/${prefixAdmin}/dashboard`) ADMIN
    
      .col-9.text-right
        if(user)
          a(
            href=`/${prefixAdmin}/account/detail`
            class="btn  btn btn-outline-success mr-2"
          ) <i class="bi bi-person"> #{user.fullName}</i> 
          a(
            href=`/${prefixAdmin}/auth/logout`
            class="btn btn-danger btn-sm"
          ) Đăng xuất
        
        else 
          a(
            href=`/${prefixAdmin}/auth/login`
            class="btn btn-primary btn-sm mr-2"
          ) Đăng nhập
        
    
